body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f6fa;
}

.container {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 25%;
  background: #2f3640;
  color: white;
  padding: 15px;
  overflow-y: auto;
}

.new-btn {
  width: 100%;
  padding: 10px;
  background: #44bd32;
  border: none;
  color: white;
  border-radius: 6px;
  margin-bottom: 10px;
  cursor: pointer;
}

.search {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: none;
  margin-bottom: 10px;
}

.note-item {
  background: #353b48;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 6px;
  cursor: pointer;
}

.note-item.active {
  background: #00a8ff;
}

.delete-btn {
  margin-top: 5px;
  background: red;
  border: none;
  color: white;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
}

/* Editor */
.editor {
  width: 35%;
  padding: 20px;
  background: #f9f9f9;
}

.editor input,
.editor textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

/* Save button */
.save-btn {
  background: #273c75;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* Preview */
.preview {
  width: 40%;
  padding: 20px;
  background: white;
  overflow-y: auto;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .sidebar,
  .editor,
  .preview {
    width: 100%;
  }
}